* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

main {
    padding: 1rem;
}

#contenedor-canvas {
    border: 1px solid white;
    width: fit-content;
    height: fit-content;
}

canvas {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

input {
    border: 1px solid black;
    color: black;
    padding: 2px;
}